<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="indi.qjx.learnandroid">

    <permission
        android:name="indi.qjx.PROVIDER"
        android:protectionLevel="normal" />

    <uses-permission android:name="indi.qjx.PROVIDER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Learnandroid">

        <!-- 首页 -->
        <activity
            android:name=".common.ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- IPC相关开始 -->
        <activity
            android:name=".ipc.ui.activity.IPCActivity"
            android:exported="true" />

        <!-- 创建新进程 -->
        <activity
            android:name=".ipc.ui.activity.IPCSecondActivity"
            android:exported="true"
            android:process=":remote" />

        <!-- 使用Messenger IPC -->
        <activity
            android:name=".ipc.ui.activity.MessengerActivity"
            android:exported="true" />

        <!-- 使用Messenger IPC远程服务 -->
        <service
            android:name=".ipc.service.MessengerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <!-- 使用AIDL IPC -->
        <activity
            android:name=".ipc.ui.activity.BookManagerActivity"
            android:exported="true" />

        <!-- 使用AIDL IPC远程服务 -->
        <service
            android:name=".ipc.service.BookManagerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <!-- 使用Provider IPC -->
        <activity
            android:name=".ipc.ui.activity.ProviderActivity"
            android:exported="true" />

        <!-- 使用Provider IPC Provider -->
        <provider
            android:name=".ipc.provider.BookProvider"
            android:authorities="indi.qjx.learnandroid.ipc.provider"
            android:permission="indi.qjx.PROVIDER"
            android:exported="true"
            android:process=":provider" />

        <!-- 使用Socket IPC远程服务 -->
        <service
            android:name=".ipc.service.TCPServerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" /> <!-- 使用Socket IPC -->
        <activity
            android:name=".ipc.ui.activity.TCPClientActivity"
            android:exported="true" />

        <!-- 使用BinderPool IPC -->
        <activity
            android:name=".ipc.ui.activity.BinderPoolActivity"
            android:exported="true" />

        <!-- 使用BinderPool service -->
        <service
            android:name=".ipc.service.BinderPoolService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <!-- IPC相关结束 -->

        <!-- JetPack相关开始 -->
        <activity
            android:name=".jetpack.ui.activity.JetPackActivity"
            android:exported="true" />

        <activity
            android:name=".jetpack.ui.activity.LiveDataActivity"
            android:exported="true" />

        <activity
            android:name=".jetpack.ui.activity.WorkManagerActivity"
            android:exported="true" />

        <!-- JetPack相关结束 -->

        <!-- View相关开始 -->
        <activity
            android:name=".view.ui.activity.ViewActivity"
            android:exported="true" />

        <!-- View基础 -->
        <activity
            android:name=".view.ui.activity.ViewSimpleActivity"
            android:exported="true" />

        <!-- 滑动冲突外部拦截 -->
        <activity
            android:name=".view.ui.activity.ConflictOutsideActivity"
            android:exported="true" />

        <!-- 滑动冲突内部拦截 -->
        <activity
            android:name=".view.ui.activity.ConflictInsideActivity"
            android:exported="true" />

        <!-- 动画 -->
        <activity
            android:name=".view.ui.activity.ViewAnimActivity"
            android:exported="true" />

        <!-- View相关结束 -->

        <!-- database相关开始 -->
        <activity
            android:name=".database.ui.activity.DatabaseActivity"
            android:exported="true" />

        <activity
            android:name=".database.ui.activity.SQLiteActivity"
            android:exported="true" />
        <activity
            android:name=".database.ui.activity.RoomActivity"
            android:exported="true" />
        <!-- database相关结束 -->

        <activity
            android:name=".flow.ui.activity.FlowActivity"
            android:exported="true" />
    </application>

</manifest>